@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  scroll-behavior: smooth;
  scroll-margin: 100px;
}

.sr-only {
  width: 0;
  height: 0;
  visibility: hidden;
}

::selection {
  background: #DDD060;
  color: black;
}

body {
  background-color: #0F0F0F;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

h2 {
  color: #D9D9D9;
}

.first-screen, .header-content, .second-screen, .third-screen {
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
}

.header {
  height: 64px;
  background-color: black;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: clamp(10px, 8vw, 128px);
  list-style: none;
}

.nav-list a {
  color: white;
  font-size: 16px;
  position: relative;
}

.nav-list-link::after {
  content: '';
  background: #DDD060;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transition: all 0.25s ease;
}

@media (hover: hover) {
  .nav-list-link:hover {
    color: #DDD060;
  }

  .nav-list-link:hover::after {
    transform: scaleX(1);
  }
}

.lang {
  display: flex;
  gap: 16px;
}

.lang a {
  position: relative;
}

.lina-title {
  display: flex;
  justify-content: center;
  margin: 120px 0;

}

.first-screen-content {
  display: flex;
  color: white;
  margin: 0 auto;
}

.first-screen-content > div {
  flex: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.first-screen-content-text p {
  padding-right: 100px;
}

.bibliography {
  max-width: 350px;
  margin: 30px auto;
  border-left: #434343 2px solid;
  padding: 50px 0;
}

.bibliography > div {
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
}

.bibliography > div:before {
  content: '';
  width: 13px;
  height: 13px;
  background-color: lightgray;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: -17px;
  top: 13px;
}

.bibliography ul {
  color: #DDD060;
  font-weight: bold;
}

.lana-photo {
  display: flex;
  align-items: center;
  position: relative;
  height: fit-content;
  width: fit-content;
}

.lana-photo > div {
  display: flex;
  box-shadow: 6px 6px 0 0 rgb(221 208 80);
}

.black-bg {
  height: 100%;
  position: absolute;
  width: 46%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: end;
  transform: translateX(-100%);
  transition: transform 0.25s ease;
}

.lana-photo:hover .black-bg {
  transform: translateX(0);
}

.lana-photo:hover blockquote {
  opacity: 1;
}

.lana-photo blockquote {
  opacity: 0;
  transition: opacity 0.25s ease;
  transition-delay: 0.25s;
}

.lana-poem {
  font-size: 12px;
  margin: auto 0 20px 20px;
}

.lana-poem cite {
  font-style: italic;
}

.lana-poem footer {
  display: flex;
  justify-content: flex-end;
}

.text-center-1 p {
  color: white;
  max-width: 720px;
  margin: 200px auto 250px;
}

.images-books {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.images-books > div {
  position: relative;
}

.images-books img:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.berestechko-before, .marusia-churai-before {
  transition: all .25s ease;
}

.berestechko-before:hover, .marusia-churai-before:hover {
  opacity: 0;
}

.text-center-2 p {
  color: white;
  max-width: 720px;
  margin: 250px auto;
}

.poem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lina-photo2 {
  box-shadow: -6px -6px 0 0 rgb(221 208 80);
  position: relative;
  overflow: hidden;
  display: flex;
}

.black-bg2 {
  background: rgba(0, 0, 0, 0.75);
  width: 56%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: end;
  transform: translateX(100%);
  transition: transform 0.25s ease;
}

.lina-photo2:hover .black-bg2 {
  transform: translateX(0);
}

.lina-photo2 p {
  opacity: 0;
  transition: opacity .25s ease;
  transition-delay: .25s;
}

.lina-photo2:hover p {
  opacity: 1;
}

.black-bg2 p {
  color: white;
  margin: auto 0 20px 20px;
  font-size: 12px;
}

.poem-text {
  color: white;
  margin-left: 100px;
}

.poem-text p {
  margin-top: 20px;
}

.quote-center {
  color: white;
  max-width: 720px;
  margin: 200px auto;
}

.quote-center cite {
  font-style: italic;
}

.quote-center footer {
  display: flex;
  justify-content: flex-end;
}

.order-title {
  display: flex;
  justify-content: center;
  margin: 250px 0 150px;
}

.order-content {
  display: flex;
  gap: 30px;
}

.order-form {
  max-width: 600px;
  height: 100%;
  background-color: #0F0F0F;
  border: 2px solid #050505;
  box-shadow: 0 0 20px 6px rgb(0 0 0);
  width: 100%;
  margin-bottom: 100px;
  padding: 60px;
}

.order-form-form > div {
  margin: 36px 0;
  display: flex;
  gap: 5px;
}

.order-form-form select, .order-form-form input, .order-form-form textarea {
  flex: 3;
}


label {
  color: white;
  flex: 1;
}

input, select, textarea {
  padding: 5px 10px;
  border-radius: 5px;
}

.btn {
  width: 130px;
  height: 30px;
  background-color: #DDD060;
  color: #0F0F0F;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:active {
  color: #DDD060;
  background-color: #0F0F0F;
  border: 1px solid #DDD060;
}

.order-form-form > div:last-child {
  display: flex;
  justify-content: flex-end;
}

textarea {
  resize: none;
  height: 100px;
  width: 75%;
  background-color: #4E4E4E;
  border: none;
  color: white;
}

.footer {
  height: 225px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
